.square-container {
    background-color: black;
    width: 100px;
    height: 100px;
    margin: 1em;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex
}

.container {
    display: flex;
    flex-wrap: wrap;
}